<div class="border-2 border-stone-200 rounded-lg max-w-full overflow-hidden">
    <div>
        {% embed '@module_page_builder/placeholder.html.twig' with { position: 'image' } %}
            {% block placeholder %}
                <component-placeholder
                    data-component="image"
                    data-uuid="{{ component.id }}"
                    data-position="image"
                    data-locked="true"
                >
                </component-placeholder>
            {% endblock %}
        {% endembed %}
    </div>
    <div class="mt-4 p-4">
        {% embed '@module_page_builder/placeholder.html.twig'  with { position: 'text' } %}
            {% block placeholder %}
                <component-placeholder
                    data-component="text"
                    data-uuid="{{ component.id }}"
                    data-position="text"
                    data-locked="true"
                >
                </component-placeholder>
            {% endblock %}
        {% endembed %}
    </div>
</div>
