<div class="border-2 border-stone-200 rounded-lg max-w-full">
    <div>
        {% include '@module_page_builder/placeholder.html.twig' with {
            position: 'image',
            component_type: 'image',
            component_uuid: component.id,
            locked: true
        } %}
    </div>
    <div class="mt-4 p-4">
        {% include '@module_page_builder/placeholder.html.twig' with {
            position: 'text',
            component_type: 'text',
            component_uuid: component.id,
            locked: true
        } %}
    </div>
</div>
