{% extends '@core/admin/layout.html.twig' %}
{% block content %}
    <form method="post" action="/admin/pages">
        <div class="mb-4">
            <div>
                {% include '@core/components/input-text.html.twig' with {
                    label: 'Page title',
                    input_name: 'title'
                } %}
            </div>
        </div>
        {% include '@core/components/button.html.twig' with {title: 'Create'} %}
    </form>
{% endblock %}
