{% set wrapper_class = [
    'flex',
    css.variables[position] ?? 'align-items-start'
] %}
<div class="{{ wrapper_class|css }}">
    {% if image is not empty %}
        {% for id in image.split(',') ?? [image] %}
            {{ id|responsive_image }}
        {% endfor %}
    {% else %}
        <img src="https://placehold.co/500x500" width="500" height="500" alt="">
    {% endif %}
</div>
