<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="{{ asset('../../../scss/puzzle.css') }}" rel="stylesheet">
</head>
<body>
<div class="container m-auto py-5">
    {% block content %}{% endblock %}
</div>

<script type="module" src="https://vite.cms-custom.ddev.site/@vite/client"></script>
</body>
</html>
