{% extends '@module_core/admin/layout.html.twig' %}
{% block before_head_close %}
    {% include '@module_core/script.html.twig' with { src: asset('js/page.ts', 'module_page') } %}
{% endblock %}
{% block content %}
    <form method="post" action="/admin/pages">
        <div class="mb-4 space-y-4">
            <div>
                {% include '@module_core/admin/components/input-text.html.twig' with {
                    label: 'Page title',
                    input_name: 'title'
                } %}
            </div>
            <div>
                {% include '@module_core/admin/components/input-text.html.twig' with {
                    label: 'Slug',
                    input_name: 'slug'
                } %}
            </div>
        </div>
        {% include '@module_core/admin/components/button.html.twig' with {title: 'Create'} %}
    </form>
{% endblock %}
