{% extends '@module_admin/layout.html.twig' %}
{% block content %}
    <div>
        {% for page in pages %}
            <div class="tw:flex tw:justify-between">
                {{ page.title }}

                <div>
                    {% embed '@module_admin/partials/form.html.twig' with { method: 'DELETE', action: '/admin/pages/' ~ page.id } %}
                        {% block actions %}
                            <button class="tw:underline tw:text-indigo-500 tw:cursor-pointer">Delete</button>
                        {% endblock %}
                    {% endembed %}
                    <a class="tw:underline tw:text-indigo-500" href="{{ route('page.admin.edit', {page: page.id}) }}">Edit</a>
                    <a class="tw:underline tw:text-indigo-500" href="{{ route('page_builder.admin.launch', {uuid: page.id}) }}">Builder</a>
                    <a class="tw:underline tw:text-indigo-500" target="_blank"
                       href="{{ route('page.show', {slug: page.slug}) }}">Show</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="/admin/pages/create" class="tw:underline tw:text-indigo-500">Add new page</a>
{% endblock %}
