<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzzle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link href="{{ asset('css/tailwind.css', 'module_core') }}" rel="stylesheet">
</head>
<body class="bg-[#EFF1F5] antialiased">
<div class="min-h-screen flex flex-col justify-center items-center">
    <img src="{{ asset('img/logo.svg', 'module_core') }}" width="360" alt="Puzzle">
    <p class="max-w-[500px] text-lg mt-5 text-center text-[#444F6F]">
        Puzzle is a future-focused, open-source CMS page builder that prioritizes reusable components over themes,
        making website creation more intuitive and lightweight.
    </p>
    <p class="text-center mt-5 flex gap-4">
        <a href="https://github.com/santerref/puzzle" target="_blank" class="inline-block underline font-semibold">Github</a>
        <a href="https://github.com/santerref/puzzle/wiki" target="_blank" class="inline-block underline font-semibold">Documentation</a>
    </p>
</div>
</body>
</html>
