<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page</title>

    {%- include '@module_page/links.html.twig' with {links: head_assets.links} -%}
    {%- include '@module_page/links.html.twig' with {links: head_assets.stylesheets} -%}
    {%- include '@module_page/scripts.html.twig' with {scripts: head_assets.scripts} -%}
</head>
<body>
{% for component in page.components.whereNull('parent').sortBy('weight') %}
    {% if component.parent is empty %}
        {% if component.children %}
            {{ render(component) }}
        {% else %}
            {{ component.rendered_html|raw }}
        {% endif %}
    {% endif %}
{% endfor %}

{% include '@module_page/scripts.html.twig' with {scripts: footer_assets.scripts} %}
</body>
</html>
