<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link href="{{ asset('css/tailwind.css', 'module_core') }}" rel="stylesheet">

    {% block before_head_close %}{% endblock %}
</head>
<body>
<div class="bg-indigo-800 px-4">
    <div class="container m-auto flex justify-between">
        <nav class="flex">
            <a href="/admin/pages" class="py-3 px-5 hover:bg-[#4E5A7E] text-[#EFF1F5]">Pages</a>
        </nav>
        <nav class="flex">
            <a href="/logout" class="py-3 px-5 hover:bg-[#4E5A7E] text-[#EFF1F5]">Logout</a>
        </nav>
    </div>
</div>
{% block before_content %}{% endblock %}
<div class="px-4">
    <div class="container m-auto py-5">
        {% block content %}{% endblock %}
    </div>
</div>

{% if not production %}
    <script type="module" src="https://vite.puzzle.ddev.site/@vite/client"></script>
{% endif %}
{% block before_body_close %}{% endblock %}
{% if not page_builder %}
    <script type="module" src="{{ asset('js/admin.ts', 'module_core') }}"></script>
{% endif %}
</body>
</html>
