<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link href="{{ asset('../scss/puzzle.css') }}" rel="stylesheet">
</head>
<body>
<div id="puzzle"></div>

<script type="module" src="https://vite.cms-custom.ddev.site/@vite/client"></script>
<script type="module" src="{{ asset('../js/puzzle.ts') }}"></script>
</body>
</html>
