<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link href="{{ asset('css/tailwind.css', 'module_admin') }}" rel="stylesheet">

    {% block before_head_close %}{% endblock %}
</head>
<body class="tw:antialiased tw:overscroll-none">
<div class="tw:bg-indigo-800 tw:px-4">
    <div class="tw:container tw:m-auto tw:flex tw:justify-between">
        <nav class="tw:flex">
            <a href="/admin/pages" class="tw:py-3 tw:px-5 tw:hover:bg-[#4E5A7E] tw:text-[#EFF1F5]">Pages</a>
        </nav>
        <nav class="tw:flex">
            <a href="/logout" class="tw:py-3 tw:px-5 tw:hover:bg-[#4E5A7E] tw:text-[#EFF1F5]">Logout</a>
        </nav>
    </div>
</div>
{% block before_content %}{% endblock %}
<div class="tw:px-4">
    <div class="tw:container tw:m-auto tw:py-5">
        {% block content %}{% endblock %}
    </div>
</div>

{% if not production %}
    <script type="module" src="https://vite.puzzle.ddev.site/@vite/client"></script>
{% endif %}
{% block before_body_close %}{% endblock %}
{% if not page_builder %}
    <script type="module" src="{{ asset('js/admin.ts', 'module_admin') }}"></script>
{% endif %}
</body>
</html>
