<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puzzle</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link href="{{ asset('css/tailwind.css', 'module_admin') }}" rel="stylesheet">
</head>
<body class="tw:bg-indigo-100 tw:antialiased">
<div class="tw:min-h-screen tw:flex tw:flex-col tw:justify-center tw:items-center">
    <img src="{{ asset('img/logo.svg', 'module_admin') }}" width="360" alt="Puzzle">
    <p class="tw:max-w-[500px] tw:text-lg tw:mt-5 tw:text-center tw:text-indigo-900">
        Puzzle is a future-focused, open-source CMS page builder that prioritizes reusable components over themes,
        making website creation more intuitive and lightweight.
    </p>
    <p class="tw:text-center tw:text-indigo-900 tw:mt-5 tw:flex tw:gap-4">
        <a href="https://github.com/santerref/puzzle" target="_blank" class="tw:inline-block tw:underline tw:font-semibold">Github</a>
        <a href="https://github.com/santerref/puzzle/wiki" target="_blank" class="tw:inline-block tw:underline tw:font-semibold">Documentation</a>
    </p>
</div>

{% if not production %}
    <script type="module" src="https://vite.puzzle.ddev.site/@vite/client"></script>
{% endif %}
</body>
</html>
