<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link href="{{ asset('css/tailwind.css', 'module_core') }}" rel="stylesheet">
    <link href="{{ asset('css/page-builder.css', 'module_page_builder') }}" rel="stylesheet">

    <script>
        window.page_uuid = '{{ page_uuid }}';
    </script>
</head>
<body>
<div id="puzzle"></div>

<script type="module" src="https://vite.puzzle.ddev.site/@vite/client"></script>
<script type="module" src="{{ asset('js/page-builder.ts', 'module_page_builder') }}"></script>
</body>
</html>
