{% embed '@module_core/admin/partials/form.html.twig' %}
    {% block body %}
        <div class="mb-4 space-y-4">
            <div>
                {% include '@module_core/admin/partials/input-text.html.twig' with {
                    label: 'Page title',
                    input_name: 'title',
                    input_value: page.title
                } %}
            </div>
            <div>
                {% include '@module_core/admin/partials/input-text.html.twig' with {
                    label: 'Slug',
                    input_name: 'slug',
                    input_value: page.slug
                } %}
            </div>
        </div>
    {% endblock %}
    {% block actions %}
        {% include '@module_core/admin/partials/button.html.twig' with {title: submit_button_title} %}
    {% endblock %}
{% endembed %}
