{% set container_class = [
    css.variables[container],
]|css %}
{% set grid_class = {
    '1': 'grid-cols-1',
    '2': 'grid-cols-2',
    '3': 'grid-cols-3'
} %}
<div class="px-4">
    <div class="{{ container_class }}">
        <div class="grid gap-4 {{ grid_class[columns] }}">
            {% for column in 1..columns %}
                <div>
                    {% include '@module_page_builder/children.html.twig' with {
                        position: 'col_' ~ column,
                        container: true
                    } %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
